<div class="container">
  <div class="main-container">

    <h1>Suggested weekly meal plan</h1>
    <!-- refreshing the search with the original queries -- ingredients chosen by user -->
    <%= link_to "Give me different one", weekly_menu_path(q: @params_q, qq: @params_qq, x: @params_x, xx: @params_xx), class: "btn btn-transparent" %>

    <div id="menu-page-title">
      <!-- button to save the week menu only for signed-in users -->
      <% if user_signed_in? %>
       <%= button_to "Save this meal plan",week_menus_path(menus: @menus.map{|menu| menu.id}), class: "btn btn-md btn-red mt-3" %>
      <% end %>
    </div>

    <div id="recipe-cards">
      <% @menus.each do |recipe| %>
        <% @counter += 1  %>

          <div class="our-card" id="our-card-<%= @counter %>">
              <button class="btn-try-absolute btn btn-red mt-3 mb-3" id="listened-btn-<%= @counter %>">Try another!</button>
            <img class="our-card-image" src="<%= recipe.img_url %>" alt="Card image cap">
            <div id="number">
              <h1><%= @counter %> </h1>
            </div>
            <div class="our-card-body">
              <div class="our-card-title">
                <h3 class="card-title"><strong><%= recipe.title %></strong></h3>
              </div>
              <div class="our-card-author">
                <p class="card-text"><strong>Author</strong><br><%= recipe.author %></p>
              </div>
              <div class="our-card-text">
                <p class="card-text"><strong>Ingredients</strong><br>
                  <%= recipe.ingredients_list.join(" - ") %>
                </p>
              </div>



              <%= link_to "Go to recipe", recipe_path(recipe), class: "btn btn-transparent"%>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
