<div class="container">
  <h1>Weekly menu</h1>

    <% @menu.each do |recipe| %>
      <div class="card d-flex flex-row w-100" style="width: 18rem;">
        <img class="card-image" src="<%= recipe.img_url %>" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title"> <%= recipe.title %></h3>
          <p class="card-text">Author: <%= recipe.author %></p>
          <p class="card-text">- <% recipe.ingredients_list.each do |ingredient| %>
            <%= ingredient %> -
            <% end %>
          </p>
          <%= link_to "See more details", recipe_path(recipe), class: "btn btn-primary"%>
        </div>
      </div>
    <% end %>
</div>
