<div class="container">
  <div class="main-container">

    <h1 ><%= @recipe.title %></h1>
    <p class="mb-3">Author<br><a href="<%= @recipe.url %>" target="_blank" ><%= @recipe.author %></a></p>


    <div class="recipe-show" style="background-image: url(<%= asset_path('banner.jpg') %>)">
    <!-- <div class="recipe-show" style="background-image: url('@recipe.img_url')"> -->
    <!-- <div class="banner" style="background-image: url('<% @recipe.img_url %>')"> -->
      <div id="recipe-text" style="padding-right: 30px" >


        <p class="align-bottom" >Ingedrients<br><% @recipe.ingredients_list.each do |ingredient| %>
          <%= ingredient %> -
          <% end %>
        <p>Time Require <%= @recipe.time %> mins</p>
        </p>
      </div>

    </div>

    <br>
    <p>Instructions<br><%= @recipe.instructions.html_safe %> </p>

  </div>
</div>












<!-- <div class="container">
  <div class="main-container">



    <div class="banner" style="background-image: url(<%= asset_path('banner.jpg') %>)">

      <div id="banner-text" style="padding-right: 30px" >


        <h1 class="mb-3"><%= @recipe.title %></h1>
        <p> <strong>Time</strong> | <%= @recipe.time %> mins</p>
        <p> <strong>Author</strong> | <a href="<%= @recipe.url %>" target="_blank" ><%= @recipe.author %></a></p>
      </div>

    </div>

    <br>
    <p class="align-bottom" ><strong>Ingedrients</strong><br><% @recipe.ingredients_list.each do |ingredient| %>
      <%= ingredient %> -
      <% end %>
    </p>
    <p><strong>Instructions</strong><br><%= @recipe.instructions.html_safe %> </p>

  </div>
</div> -->










<!-- <div class="container">
  <div class="main-container">

    <h1 ><%= @recipe.title %></h1>

    <p>Author<br><a href="<%= @recipe.url %>" target="_blank" ><%= @recipe.author %></a></p>

    <div class="text-and-img">
      <div class="text-left-diagonal" >
        <p>Time Require<br><%= @recipe.time %> mins</p>
        <p>Ingedrients<br><% @recipe.ingredients_list.each do |ingredient| %>
          <%= ingredient %> -
          <% end %>
        </p>
      </div>
      <div class="img-right" style= "max-width:20vw">
        <%= image_tag @recipe.img_url, :style => "width: 90%; border-radius:0px; margin-right: 20px" %>
      </div>
    </div>

    <p>Instructions<br><%= @recipe.instructions.html_safe %> </p>

  </div>
</div>
 -->

<!-- <h1>HERE ARE SEVERAL OPTIONS - ONE UGLIER THAN OTHER 000</h1>
<div class="container">
  <div class="main-container">
    <h1 ><strong><%= @recipe.title %></strong></h1>
    <p ><strong>Author</strong><br><a href="<%= @recipe.url %>" target="_blank" ><%= @recipe.author %></a></p>
    <p ><strong>Time Require</strong><br><%= @recipe.time %> mins</p>
    <p><strong>Ingedrients</strong><br><% @recipe.ingredients_list.each do |ingredient| %>
      <%= ingredient %> -
      <% end %>
    </p>

    <div class="d-flex ">
       <div style= "width:20vw">
       <%= image_tag @recipe.img_url, :style => "width: 90%; border-radius:0px; margin-right: 20px" %>
      </div>
      <div >
        <p><strong>Instructions</strong><br><%= @recipe.instructions.html_safe %> </p>
      </div>
  </div>
</div> -->



<!-- <div class="container">
  <div class="main-container">
    <h1 ><strong><%= @recipe.title %></strong></h1>
    <p ><strong>Author</strong><br><a href="<%= @recipe.url %>" target="_blank" ><%= @recipe.author %></a></p>
    <p ><strong>Time Require</strong><br><%= @recipe.time %> mins</p>
    <p><strong>Ingedrients</strong><br><% @recipe.ingredients_list.each do |ingredient| %>
      <%= ingredient %> -
      <% end %>
    </p>

    <div class="d-flex ">
       <div style= "width:20vw">
       <%= image_tag @recipe.img_url, :style => "border-radius:0px; margin-right: 20px" %>
      </div>
      <div >
        <p><strong>Instructions</strong><br><%= @recipe.instructions.html_safe %> </p>
      </div>
  </div>
</div> -->



<!-- <div class="container">
  <div class="main-container">
    <h1 class="card-title"><strong><%= @recipe.title %></strong></h1>
    <p class="card-text"><strong>Author</strong><br><a href="<%= @recipe.url %>" target="_blank" ><%= @recipe.author %></a></p>
    <p class="card-text"><strong>Time Require</strong><br><%= @recipe.time %> mins</p>

    <div class="our-card">
      <img class="card-image" src="<%= @recipe.img_url %>" alt="Card image cap">
      <div class="our-card-body">

        <p class="card-text"><strong>Ingedrients</strong><br><% @recipe.ingredients_list.each do |ingredient| %>
          <%= ingredient %> -
          <% end %>
        </p>
        <p class="card-text"><strong>Instructions</strong><br><%= @recipe.instructions.html_safe %> </p>
    </div>
  </div>
</div> -->







<!-- <div class="container">
  <div class="row">
    <div class ="image-row">
      <div class="col-xs-12 col-sm-6">
        <img src=" <%= @recipe.img_url %>" alt="Card image cap">
      </div>
      <a href="<%= @recipe.url %>" class="btn btn-primary">See the full recipe</a>
      <p><b>Title:</b> <%= @recipe.title %></p>
      <p>Author: <%= @recipe.author %> </p>
      <p><b>Time Require:</b> <%= @recipe.time %> mins</p>
      <p><b>Ingredients:</b></p>
      <ul>
        <% @recipe.ingredients_list.each do |ingredient| %>
          <li><%= ingredient.strip() %></li>
        <% end %>
      </ul>
      <p><b>Instructions:</b> <%= @recipe.instructions.html_safe %></p>
    </div>
  </div>
</div> -->
