<div class="container">
  <div class="row">
    <div class ="image-row">
      <div class="col-xs-12 col-sm-6">
        <img src=" <%= @recipe.img_url %>" alt="Card image cap">
      </div>
      <a href="<%= @recipe.url %>" class="btn btn-primary">See the full recipe</a>
      <p><b>Title:</b> <%= @recipe.title %></p>
      <p>Author: <%= @recipe.author %> </p>
      <p><b>Time Require:</b> <%= @recipe.time %> mins</p>
      <p><b>Ingredients:</b></p>
      <ul>
        <% @recipe.ingredients_list.each do |ingredient| %>
          <li><%= ingredient.strip() %></li>
        <% end %>
      </ul>
      <p><b>Instructions:</b> <%= @recipe.instructions.html_safe %></p>
    </div>
  </div>
</div>
