<%# checking, if the user has already any saved menu plan %>
<% if @week_menus.empty? %>
  <h1 style="text-align:center"> You do not have any meal plan saved yet.</h1>
  <div id="btn-div"> <%= link_to "Get my first meal plan", root_path, class: "btn btn-lg btn-red mt-3"%> </div>
<% else %>
  <div class="main-container">
    <h1 style="text-align:center"> My meal plans</h1>
    <div class="second-container">
      <div id="sidebar">

          <a href="#newest-week"><h4>The newest</h4></a>

          <%# displaying links to weeks in sidebar %>
            <% @week_number_navbar = @week_menus.count %>
            <% @week_menus.each do |week_menu| %>
              <a href="#nav-week-<%= @week_number_navbar %>"><h4>Week <%= @week_number_navbar %></h4></a>
           <!--    <h4>Week <%= @week_number_navbar %></h4> -->
              <% @week_number_navbar -= 1 %>
            <% end %>

          <a href="#oldest-week"><h4>The oldest</h4></a>
          <%# Sandra will kill me for this inline style... s. %>
          <%= link_to "Create new", root_path, style: "color: white; font-family: 'Josefin Sans', sans-serif; font-size: 1.5rem" %>

      </div>

      <%# anchor for sidebar links %>
      <a id="newest-week"></a>

      <div id="weeks-container">
        <%# saved menu plans (earlier: weeks) of the current user %>
        <%# grouped by weeks, ordered from newest to oldest (.reverse) %>
        <% @week_menus.reverse.each do |week_menu| %>

          <%# box with one menu plan == 7 recipes %>
          <a id="nav-week-<%= @week_number %>"> <%# anchor for sidebar links %>
            <div id="one-menu">
              <div class="underline-1">
                <h3>Week <%= @week_number %> </h3>

                <% if user_signed_in? %>
                  <%= link_to "shopping list",shopping_list_week_menu_path(week_menu), class: "btn btn-md btn-red mb-1" %>
                <% end %>
              </div>

              <%# card with a recipe %>
              <div id="card-lists">
                <% week_menu.menus.each do |menu| %>
                    <div id="recipe-card">
                      <%# adding a div to have the "save to favourites" be on the image%>
                      <div class="img-and-icon">
                        <%= link_to "Save", recipe_user_recipe_favourites_path(menu.recipe.id), method: :post, class: "save btn btn-sm btn-red" %>
                        <img class="recipe-card-pic" src="<%= menu.recipe.img_url %>" alt="Card image cap">
                      </div>
                      <div class="recipe-card-body truncate">
                        <p><%= link_to menu.recipe.title, recipe_path(menu.recipe), class: 'link-recipes'%></p>
                      </div>
                    </div>

                <% end %>
              </div>

            </div>
          </a>
          <%# the lower on the page, the older week, the lower number %>
          <% @week_number -= 1 %>

        <% end %>
      </div>
    </div>
          <%# anchor for sidebar links %>
          <a id="oldest-week"></a>
  </div>
<% end %>










