<!-- checking, if the user has already any saved menu plan -->
<% if !@week_menu %>
  <h1 style="text-align:center"> You do not have any meal plan saved yet.</h1>
  <div id="btn-div"> <%= link_to "Get my first meal plan", root_path, class: "btn btn-lg btn-red mt-3"%> </div>
<% else %>
  <div class="main-container">
    <h1 style="text-align:center"> My meal plans</h1>
    <div class="second-container">
      <div id="sidebar">


      <!-- SIDEBAR OPTION 1: navbar with newest and oldest weeks -->
        <!--
          <a href="#newest-week"><h4>The newest week</h4></a>
          <a href="#oldest-week"><h4>The oldest week</h4></a>
          <%= link_to "Create new week", weekly_menu_path %>
      -->


      <!-- SIDEBAR OPTION 2: displaying "Week 1-9" in sidebar, (but navigation not figured out yet. if used, the #sidebar height shall be enlarged to fit also many weeks) -->
        <% @week_number_navbar = @week_menus.count %>
        <% @week_menus.each do |week_menu| %>
          <h4>Week <%= @week_number_navbar %></h4>
          <% @week_number_navbar -= 1 %>
        <% end %>

      </div>
      <div id="weeks-container">

        <!-- saved menu plans (earlier: weeks) of the current user -->
        <!-- grouped by weeks, ordered from newest to oldest (.reverse) -->
        <% @week_menus.reverse.each do |week_menu| %>

          <!-- ONLY IF SIDEBAR OPTION 1: navbar with newest and oldest weeks -->
          <!-- <a id="newest-week"></a> -->

          <!-- box with one menu plan == 7 recipes -->
            <div id="one-menu">
              <div class="underline">
                <h3>Week <%= @week_number %> </h3>
              </div>
              <div id="card-lists">

                <!-- card with a recipe -->
                <% week_menu.menus.each do |menu| %>
                    <div id="recipe-card">
                        <img class="recipe-card-pic" src="<%= menu.recipe.img_url %>" alt="Card image cap">
                        <div class="recipe-card-body truncate">
                          <p><%= link_to menu.recipe.title, recipe_path(menu.recipe), class: 'link-recipes'%></p>
                        </div>
                    </div>

                <% end %>
              </div>
            </div>

          <!-- the lower on the page, the older week, the lower number -->
          <% @week_number -= 1 %>

        <% end %>
      </div>
    </div>
          <!-- ONLY IF SIDEBAR OPTION 1: navbar with newest and oldest weeks -->
          <!-- <a id="oldest-week"></a> -->
  </div>

<% end %>










