<div class="container-fluid m-9">
  <div class="main-container">
    <div id="weeks-container">
      <h1>My meal plans</h1>

      <!-- saved menu plans (earlier: weeks) of the current user -->
      <!-- grouped by weeks, ordered from newest to oldest (.reverse) -->
      <% @week_menus.reverse.each do |week_menu| %>



        <!-- box with one menu plan == 7 recipes -->
        <div id="wrapping-sidebar">
          <div id="sidebar">

          </div>

          <div id="one-menu">
            <h3>Week no <%= @week_number %> </h3>
            <div id="card-lists">

              <!-- card with a recipe -->
              <% week_menu.menus.each do |menu| %>
                  <div id="bookmark">
                      <img class="card-pic" src="<%= menu.recipe.img_url %>" alt="Card image cap">
                      <div class="card-bod">
                        <p><%= link_to menu.recipe.title, recipe_path(menu.recipe)%></p>
                      </div>
                  </div>

              <% end %>
            </div>
          </div>
        </div>






        <!-- box with one menu plan == 7 recipes -->
        <div class="menu-plan">
            <h3>Week no <%= @week_number %> </h3>
            <div class="d-flex flex-row">

              <!-- card with a recipe -->
              <% week_menu.menus.each do |menu| %>
                  <div class="card m-2">
                      <img class="card-image" src="<%= menu.recipe.img_url %>" alt="Card image cap">
                      <div class="card-body">
                        <p class="card-title"><%= link_to menu.recipe.title, recipe_path(menu.recipe)%></p>
                      </div>
                  </div>

              <% end %>
            </div>
        </div>
        <!-- the lower on the page, the older week, the lower number -->
        <% @week_number -= 1 %>
      <% end %>
    </div>
  </div>
</div>









