<div class="container">

<%= form_tag weekly_menu_path, method: :get do %>
  <div class="d-flex search-form" data-ingredients="<%= @ingredients.to_json %>">
    <%= text_field_tag :q, nil, autocomplete: :off, class: "form-control search-input", placeholder: "Search by ingredients..." %>
    <%= submit_tag "Search", class: "btn btn-primary button" %>
  </div>
<% end %>

  <h1>Welcome</h1>
  <p><strong>This is a menu planer that allow you to create a weekly menu plan with existing recipes.</strong></p>
  <%= link_to "Weekly Menu plan ",weekly_menu_path, class: "btn btn-lg btn-info mt-3" %>
</div>


