  <div class="banner" style="background-image: url(<%= asset_path('banner.jpg') %>)">
    <div id="banner-text">
      <div class="container">
        <div id="banner-inner-text">
          <h1>Stop worrying about your meals</h1>
          <h1>It takes one click</h1>
          <%= form_tag weekly_menu_path, method: :get do %>
            <div class="search-form" id="search-data" data-ingredients="<%= @ingredients.to_json %>">
              <!-- display of multiple ingredient -->
              <div id="ingredient-set"></div>
              <%= text_field_tag :q, nil,
                autocomplete: :on,
                class: "form-control search-input",
                placeholder: "Search by ingredients..." %>
              <!-- Saving multiple ingredients to search query -->
              <input type="hidden" id="ingredient-set-input" name="qq">
              <%= submit_tag "Get my meal plan", class: "btn btn-lg btn-info mt-3" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="why-menuet">
    <div id="why-menuet-header"><h2>Why Menuet?</h2></div>
    <div class="container">
      <div id="why-menuet-reasons">
        <div>
          <i class="fas fa-hamburger"></i>
          <h5>Organize your weekly meal plan without a headache</h5>
        </div>
        <div>
          <i class="fas fa-pizza-slice"></i>
          <h5>We choose among thousands of recipes to fit your taste</h5>
        </div>
        <div>
          <i class="fas fa-ice-cream"></i>
          <h5>Generate your personalized menus if you subscribe</h5>
        </div>
      </div>
      <!-- <h6><%= link_to "Tell me more about subscription", faq_path %></h6> -->
      <h6><%= button_to "Tell me more about subscription", faq_path, method: :get, id: 'subscription_btn' %></h6>
    </div>
  </div>
